.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

.float-left { float: left ;}
.float-right { float: right; }

.center-left { text-align: center; padding-right: 30em; }
.center-right { text-align: center; padding-left: 15em; }

/* cell phones */
@media only screen and (max-width: 480px) {
    .center-left { text-align: center; padding-right: 7em; }
}
/* tablets */
@media only screen and (max-width: 768px) {}
/* small screens and laptops */
@media only screen and (max-width: 1024px) {} 