.fs-1 { font-size: 1em; }
.fs-15 { font-size: 1.5em; }
.fs-2 { font-size: 2em; }
.fs-3 { font-size: 3em; }
.fs-4 { font-size: 4em; }
.fs-5 { font-size: 5em; }
.fs-6 { font-size: 6em; }
.fs-7 { font-size: 7em; }
.fs-8 { font-size: 8em; }
.fs-9 { font-size: 9em; }
.fs-10 { font-size: 10em; }

.h { font-size: 10em; }
.h2 { font-size: 8em; }
.h3 { font-size: 6em; }
.h4 { font-size: 4em; }
.h5 { font-size: 3em; }
.h6 { font-size: 2em; }
.h65 { font-size: 1.5em; }
.h7 { font-size: 1em; }

.t { font-size: 2em; }
.t2 { font-size: 1.8em; }
.t3 { font-size: 1.6em; }
.t4 { font-size: 1.4em; }
.t5 { font-size: 1.2em; }
.t6 { font-size: 1em; }

.fc-primary { color: var(--primary)}
.fc-secondary { color: var(--secondary)}
.fc-info { color: var(--infi)}
.fc-white { color: var(--white)}
.fc-dark { color: var(--dark)}
.fc-light { color: var(--light)}
.fc-grey { color: var(--grey)}
.fc-danger { color: var(--danger)}
.fc-warning { color: var(--warning)}

.fw-1 { font-weight: 200 !important; }
.fw-2 { font-weight: 400; }
.fw-3 { font-weight: 600; }
.fw-4 { font-weight: 800; }
.fw-5 { font-weight: 900; }

.no-deco { text-decoration: none; }
.italic { font-style: italic; }

.inconsolata { font-family: 'Inconsolata', monospace; }
.supermercado { font-family: 'Supermercado One', cursive; }
.ubuntu { font-family: 'Ubuntu Mono', monospace; }
.quicksand { font-family: 'Quicksand', sans-serif; }
.raleway { font-family: 'Raleway', sans-serif; }





/* small screens and laptops */
@media only screen and (max-width: 1024px) {
    .fs-1 { font-size: 1em; }
    .fs-15 { font-size: 1.5em; }
    .fs-2 { font-size: 2em; }
    .fs-3 { font-size: 3em; }
    .fs-4 { font-size: 4em; }
    .fs-5 { font-size: 5em; }
    .fs-6 { font-size: 6em; }
    .fs-7 { font-size: 7em; }
    .fs-8 { font-size: 8em; }
    .fs-9 { font-size: 9em; }
    .fs-10 { font-size: 10em; }

    .h { font-size: 10em; }
    .h2 { font-size: 8em; }
    .h3 { font-size: 6em; }
    .h4 { font-size: 4em; }
    .h5 { font-size: 3em; }
    .h6 { font-size: 2em; }
    .h65 { font-size: 1.5em; }
    .h7 { font-size: 1em; }

    .t { font-size: 2.5em; }
    .t2 { font-size: 2.4em; }
    .t3 { font-size: 2.2em; }
    .t4 { font-size: 2em; }
    .t5 { font-size: 1.8em; }
    .t6 { font-size: 1.5em; }
} 

/* tablets */
@media only screen and (max-width: 768px) {
    .fs-1 { font-size: 1em; }
    .fs-15 { font-size: 1.5em; }
    .fs-2 { font-size: 2em; }
    .fs-3 { font-size: 3em; }
    .fs-4 { font-size: 4em; }
    .fs-5 { font-size: 5em; }
    .fs-6 { font-size: 6em; }
    .fs-7 { font-size: 7em; }
    .fs-8 { font-size: 8em; }
    .fs-9 { font-size: 9em; }
    .fs-10 { font-size: 10em; }

    .h { font-size: 8.5em; }
    .h2 { font-size: 7em; }
    .h3 { font-size: 6em; }
    .h4 { font-size: 4em; }
    .h5 { font-size: 3.5em; }
    .h6 { font-size: 2em; }
    .h65 { font-size: 1.5em; }
    .h7 { font-size: 1em; }

    .t { font-size: 2em; }
    .t2 { font-size: 1.8em; }
    .t3 { font-size: 1.6em; }
    .t4 { font-size: 1.4em; }
    .t5 { font-size: 1.2em; }
    .t6 { font-size: 1em; }
}

/* cell phones */
@media only screen and (max-width: 480px) {
    .fs-1 { font-size: .5em; }
    .fs-15 { font-size: 1.1em; }
    .fs-2 { font-size: 1.2em; }
    .fs-3 { font-size: 1.5em; }
    .fs-4 { font-size: 2em; }
    .fs-5 { font-size: 2.2em; }
    .fs-6 { font-size: 2.5em; }
    .fs-7 { font-size: 3em; }
    .fs-8 { font-size: 3.5em; }
    .fs-9 { font-size: 4em; }
    .fs-10 { font-size: 4.5em; }

    .h { font-size: 4em; }
    .h2 { font-size: 3.5em; }
    .h3 { font-size: 3em; }
    .h4 { font-size: 2.3em; }
    .h5 { font-size: 2.5em; }
    .h6 { font-size: 2em; }
    .h65 { font-size: 1.5em; }
    .h7 { font-size: 1em; }

    .t { font-size: 2em; }
    .t2 { font-size: 1.8em; }
    .t3 { font-size: 1.6em; }
    .t4 { font-size: 1.4em; }
    .t5 { font-size: 1.2em; }
    .t6 { font-size: 1em; }
}